/* This file is for changing the global styles of the app */
@tailwand base;
@tailwand components;
@tailwind utilities;
@import "tailwindcss";
@plugin "daisyui";


:root {
  --background: linear-gradient(to right, #353535, #1a1a1a);
  --foreground: white; /* Define the foreground color properly */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, #353535, #1a1a1a);
    --foreground: white;
  }
}

html, body {
  min-height: 100vh;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
}



